{% extends 'layout/layout_blank.html' %}

{% load static %}
{% load i18n %}

{% block title %}Giriş{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}" />
{% endblock page_css %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/pages-auth.js' %}"></script>
<script src="{% static 'js/ui-popover.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="authentication-wrapper authentication-cover">
  <div class="authentication-inner row m-0">
    <!-- /Left Text -->
    <div class="d-none d-lg-flex col-lg-8 p-0">
      <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
        <img src="{% static 'img/illustrations/auth-login-illustration-light.png' %}" alt="auth-login-cover" class="my-5 auth-illustration" data-app-light-img="illustrations/auth-login-illustration-light.png" data-app-dark-img="illustrations/auth-login-illustration-dark.png">

        <img src="{% static 'img/illustrations/bg-shape-image-light.png' %}" alt="auth-login-cover" class="platform-bg" data-app-light-img="illustrations/bg-shape-image-light.png" data-app-dark-img="illustrations/bg-shape-image-dark.png">
      </div>
    </div>
    <!-- /Left Text -->

    <!-- Login -->
    <div class="d-flex col-12 col-lg-4 align-items-center authentication-bg p-sm-12 p-6">
      <div class="w-px-400 mx-auto mt-12 pt-5">
        <h4 class="mb-1">{% get_theme_variables 'template_name' %}'ya Hoş Geldiniz! 👋</h4>
        <p class="mb-6">Lütfen hesabınıza giriş yapın</p>
        <div class="alert alert-primary small">
          <p class="text-caption mb-1"> Kanat Takımı E-mail: <strong>simsekkanat@baykartech.com</strong> / Kullanıcı Adı: <strong>simsekkanat</strong>
            <span class="cursor-pointer" id="wing-user"><i class="ti ti-help ti-xs text-body mb-1" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover focus" title="Kanat Takımı" data-bs-content="Sadece kanat parçalarını üretmek ve yönetmekle sorumludur; kanat parçalarını görüntüleme, güncelleme, silme ve oluşturma yetkisine sahiptir."></i></span>
          </p>
          <p class="text-caption mb-1"> Gövde Takımı E-mail: <strong>simsekgovde@baykartech.com</strong> / Kullanıcı Adı: <strong>simsekgovde</strong>
            <span class="cursor-pointer" id="body-user"><i class="ti ti-help ti-xs text-body mb-1" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover focus" title="Gövde Takımı" data-bs-content="Sadece gövde parçalarını üretmek ve yönetmekle sorumludur; gövde parçalarını görüntüleme, güncelleme, silme ve oluşturma yetkisine sahiptir."></i></span>
          </p>
            <p class="text-caption mb-1"> Kuyruk Takımı E-mail: <strong>simsekkuyruk@baykartech.com</strong> / Kullanıcı Adı: <strong>simsekkuyruk</strong>
            <span class="cursor-pointer" id="tail-user"><i class="ti ti-help ti-xs text-body mb-1" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover focus" title="Kuyruk Takımı" data-bs-content="Sadece kuyruk parçalarını üretmek ve yönetmekle sorumludur; kuyruk parçalarını görüntüleme, güncelleme, silme ve oluşturma yetkisine sahiptir."></i></span>
          </p>
          <p class="text-caption mb-1"> Aviyonik Takımı E-mail: <strong>simsekaviyonik@baykartech.com</strong> / Kullanıcı Adı: <strong>simsekaviyonik</strong>
            <span class="cursor-pointer" id="avionics-user"><i class="ti ti-help ti-xs text-body mb-1" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover focus" title="Aviyonik Takımı" data-bs-content="Sadece aviyonik parçaları üretmek ve yönetmekle sorumludur; aviyonik parçaları görüntüleme, güncelleme, silme ve oluşturma yetkisine sahiptir."></i></span>
          </p>
            <p class="text-caption mb-1"> Montaj Takımı E-mail: <strong>simsekmontaj@baykartech.com</strong> / Kullanıcı Adı: <strong>simsekmontaj</strong>
            <span class="cursor-pointer" id="assembly-user"><i class="ti ti-help ti-xs text-body mb-1" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover focus" title="Montaj Takımı" data-bs-content="Tüm uyumlu parçaları birleştirerek uçak montajını gerçekleştirmekle sorumludur; montaj sürecini başlatma, tamamlama ve montajı yapılan uçakları görüntüleme yetkisine sahiptir. Parça üretimi yapmaz, sadece montaj işlemleriyle ilgilenir."></i></span>
          </p>
          <p class="text-caption mb-0">Şifre: <strong>Ihakiralama.123</strong></p>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-warning{% endif %}" role="alert">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <form id="formAuthentication" class="mb-6" action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <div class="mb-6">
            <label for="email" class="form-label">E-mail yada Kullanıcı Adı</label>
            <input type="email" class="form-control" id="email" name="email-username" value="simsekkanat@baykartech.com" placeholder="E-mail/Kullanıcı Adı" autofocus />
          </div>
          <div class="mb-6 form-password-toggle">
            <label class="form-label" for="password">Password</label>
            <div class="input-group input-group-merge">
              <input type="password" id="password" class="form-control" name="password" value="Ihakiralama.123" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
              <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
            </div>
          </div>
          <div class="my-8">
            <div class="d-flex justify-content-between">
              <div class="form-check mb-0 ms-2">
                <input class="form-check-input" type="checkbox" id="remember-me">
                <label class="form-check-label" for="remember-me">
                  Hatırla Beni
                </label>
              </div>
            </div>
          </div>
          {% if request.GET.next %}
          <input type="hidden" name="next" value="{{request.GET.next}}">
          {% endif %}
          <button class="btn btn-primary d-grid w-100" type="submit">Giriş</button>
        </form>
      </div>
    </div>
    <!-- /Login -->
  </div>
</div>
{% endblock content %}
